footer
  .lockup
    .logo
      include ../img/icons/logo-rune.html
    .content-wrap
      nav
        ul
          li: a(href='/') About me
          li: a(href='/') Work
          li: a(href='/') Clients
          li: a(href='/') Contact

      p.copyright Seme copyrights (R)