header
  .logo
    include ../img/icons/logo-rune.html
  nav
    ul
      li: a(href='/') About me
      li: a(href='/') Work
      li: a(href='/') Clients
      li: a(href='/') Contact
  
  h1
    span Artist Theme
  p.kicker Thinker // Designer // Youtuber