doctype html
html
  head
    meta(content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Bang!
    //Stylesheets
    link(rel="stylesheet" href="assets/css/main.css")
    //scripts
    script(src="assets/js/jquery-2.1.4.min.js")
    script(src="assets/js/functions.js")
  body
    
    include header.jade
    
    p some para
    
    include footer